{% extends 'base.html.twig' %}

{% block title %}HOME | {{ parent() }}{% endblock %}

{% block body %}
<h1>SORTIES</h1>

    <h2>Filtrer les sorties</h2>
    {{ form_start(form) }}
    <div class="campus">
    {{ form_label(form.filtreCampus) }}
    {{ form_widget(form.filtreCampus) }}
    </div>
    <div class="recherche">
        {{ form_label(form.filtreRecherche) }}
        {{ form_widget(form.filtreRecherche) }}
    </div>
    <button type="submit">Rechercher</button>
    {{ form_end(form) }}

    </fieldset>
    <br>
    <table class="table">
    <thead>

    <tr>
    <th>Nom de la sortie</th>
    <th>Date de la sortie</th>
    <th>Clôture</th>
    <th>Inscrits/Places</th>
    <th>Etat</th>
        <th>Inscrit</th>
    <th>Organisateur</th>
    <th>Actions</th>
    </tr>

    </thead>
    <tbody>
    {% for sortie in sorties %}


        <tr>
            <td>{{ sortie.nom }}</td>
             <td>{{ sortie.dateHeureDebut | date('Y-m-d') }}</td>
            <td>{{ sortie.dateLimiteInscription | date('Y-m-d') }}</td>
            <td>/ {{ sortie.nbInscriptionMax }}</td>
            <td>{{ sortie.etat.libelle }}</td>
            <td>{# inscription #}</td>
            <td>   {{ sortie.organisateur.nom}} {{sortie.organisateur.prenom }}  </td>
            <td> <a href="{{ path('details_sortie', {'id': sortie.id}) }}" class="btn btn-info">Afficher</a>  | <a href="{{ path('inscription_sortie', {'id': sortie.id}) }}" class="btn btn-danger">Se désister</a> </td>

        </tr>
    {% endfor %}
          </tbody>
    </table>

{% endblock %}
