{% extends 'base.html.twig' %}

{% block title %}HOME | {{ parent() }}{% endblock %}

{% block body %}
<h1>ACCUEIL SORTIES</h1>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('images/bar.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/musee.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/theatre.jpg') }}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <h2>Filtrer les sorties</h2>
    {{ form_start(form) }}
    <div class="campus">
    {{ form_label(form.filtreCampus) }}
    {{ form_widget(form.filtreCampus) }}
    </div>
    <div class="recherche">
        {{ form_label(form.filtreRecherche) }}
        {{ form_widget(form.filtreRecherche) }}
    </div>
    <button type="submit">Rechercher</button>
    {{ form_end(form) }}

    </fieldset>
    <br>
    <table class="table">
    <thead>

    <tr>
    <th>Nom de la sortie</th>
    <th>Date de la sortie</th>
    <th>Clôture</th>
    <th>Inscrits/Places</th>
    <th>Etat</th>
        <th>Inscrit</th>
    <th>Organisateur</th>
    <th>Actions</th>
    </tr>

    </thead>
    <tbody>
    {% for sortie in sorties %}


        <tr>
            <td>{{ sortie.nom }}</td>
             <td>{{ sortie.dateHeureDebut | date('Y-m-d') }}</td>
            <td>{{ sortie.dateLimiteInscription | date('Y-m-d') }}</td>
            <td>{{ sortie.participants.count }}/ {{ sortie.nbInscriptionMax }}</td>
            <td>{{ sortie.etat.libelle }}</td>
            <td>{% if app.user in  sortie.participants %}
                    <img src="{{ asset('images/logo/verifier.png') }}" width="20px">
                {% else %}
                {% endif %}
            </td>

            <td> <a href="{{ path('afficher_profil', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom}} {{sortie.organisateur.prenom }}</a></td>

            <td>
           {% if sortie.etat.libelle == "Ouverte" and app.user.id != sortie.organisateur.id %}

                {% if app.user in sortie.participants %}
                    <a href="{{ path('details_sortie', {'id': sortie.id}) }}" class="btn btn-warning">Afficher</a>  | <a href="{{ path('desinscription_sortie', {'id': sortie.id}) }}" class="btn btn-danger">Se désister</a>
                {% else %}
                    <a href="{{ path('details_sortie', {'id': sortie.id}) }}" class="btn btn-warning">Afficher</a>  | <a href="{{ path('inscription_sortie', {'id': sortie.id}) }}" class="btn btn-success">S'inscrire</a>
                {% endif %}

           {% elseif app.user.id == sortie.organisateur.id and sortie.etat.libelle == "Ouverte"  %}
                 <a href="{{ path('details_sortie', {'id': sortie.id}) }}" class="btn btn-warning">Afficher</a>  | <a href="{{ path('modifier_sortie', {'id': sortie.id}) }}" class="btn btn-info">Modifier</a>
               {% else  %}
                   <a href="{{ path('details_sortie', {'id': sortie.id}) }}" class="btn btn-warning">Afficher</a>

           {% endif %}
            </td>


        </tr>
    {% endfor %}
          </tbody>
    </table>

{% endblock %}
