{% extends 'base.html.twig' %}

{% block title %}HOME | {{ parent() }}{% endblock %}

{% block body %}
<h1>SORTIES</h1>

    <h2>Filtrer les sorties</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Rechercher</button>
    {{ form_end(form) }}

    <label for="campus-select">Campus :</label>
    <select name="campus-select"  id="campus-select" required>

    </select>
    <br>
    <label for="site-search">Le nom de la sortie contient :</label>
    <input type="search" id="site-search" name="q" />

    <br>
    Entre <input type="date" name="datePicker1"> et le <input type="date" name="datePicker2">
    <br>

    <fieldset>

        <div>
            <input type="checkbox" id="check1" name="check1" checked />
            <label for="check1">Sorties dont je suis l'organisateur/trice</label>
        </div>
        <div>
            <input type="checkbox" id="check2" name="check2" />
            <label for="check2">Sorties auxquelles je suis inscrit/e</label>
        </div>
        <div>
            <input type="checkbox" id="check3" name="check3" />
            <label for="check3">Sorties auxquelles je ne suis pas incrit/e</label>
        </div>
        <div>
            <input type="checkbox" id="check4" name="check4" />
            <label for="check4">Sorties passées</label>
        </div>

    </fieldset>
    <br>
    <input type="submit" name="rechercher" value="Rechercher"></input>
    <br>
    <table class="table" >
    <thead>

    <tr>
    <th>Nom de la sortie</th>
    <th>Date de la sortie</th>
    <th>Clôture</th>
    <th>Inscrits/Places</th>
    <th>Etat</th>
        <th>Inscrit</th>
    <th>Organisateur</th>
    <th>Actions</th>
    </tr>

    </thead>
    <tbody>
    {% for sortie in sorties %}


        <tr>
            <td>{{ sortie.nom }}</td>
             <td>{{ sortie.dateHeureDebut | date('Y-m-d') }}</td>
            <td>{{ sortie.dateLimiteInscription | date('Y-m-d') }}</td>
            <td>/ {{ sortie.nbInscriptionMax }}</td>
            <td>{{ sortie.etat.libelle }}</td>
            <td>{# inscription #}</td>
            <td>   {{ sortie.organisateur.nom}} {{sortie.organisateur.prenom }}  </td>
            <td> <a href="{{ path('details_sortie', {'id': sortie.id}) }}" class="btn btn-secondary">Afficher</a>  | <a href="">Se désister</a> </td>
        </tr>
    {% endfor %}
          </tbody>
    </table>

{% endblock %}
