{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>MON PROFIL</h1>
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <p class="card-text"><b>Nom : </b> {{ participant.nom }}</p>
            <p class="card-text"><b>Prénom : </b>{{ participant.prenom }}</p>
            <p  class="card-text"><b>Email : </b>{{ participant.email }}</p>
            <p class="card-text"><b>Téléphone </b>{{ participant.telephone }}</p>
            <p class="card-text"><b>Campus : </b>{{ participant.campus ? participant.campus.nom}}</p>
            <a href="{{ path('modifier_profil', {'id': participant.id}) }}" class="btn btn-info" title="Modifier mon profil">
                Modifier</a>
            <a href="{{ path('main_home') }}" class="btn btn-warning" title="">
                Retour</a>
        </div>
    </div>
{% endblock %}
