{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <p class="card-text">Nom: {{ participant.nom }}</p>
            <p class="card-text">Prénom: {{ participant.prenom }}</p>
            <p  class="card-text">{{ participant.email }}</p>
            <p class="card-text">{{ participant.telephone }}</p>
            <p class="card-text">{{ participant.campus ? participant.campus.nom}}</p>
{#            <a  href="{{ path('modifier_profil', {'id': participant.id}) }}" title="Modifier mon profil">#}
                Modifier</a>
            <a href="#" class="card-link">Supprimer</a>
        </div>
    </div>
{% endblock %}
