{% extends 'base.html.twig' %}

{% block title %} AFFICHER UNE SORTIE | {{ parent() }}{% endblock %}

{% block body %}

    <h1>AFFICHER UNE SORTIE</h1>

    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <p class="card-text"><b>Nom sortie: </b> {{ sortie.nom }}</p>
            <p class="card-text"><b>Date et heure sortie : </b>{{ sortie.dateHeureDebut | date('Y-m-d') }}</p>
            <p  class="card-text"><b>Date limite inscription : </b>{{ sortie.dateLimiteInscription | date('Y-m-d')}}</p>
            <p class="card-text"><b>Nombre de places : </b>{{ sortie.nbInscriptionMax}}</p>
            <p class="card-text"><b>Durée : </b> {{ sortie.duree }}minutes</p>
            <p class="card-text"><b>Description et infos : </b>{{ sortie.infosSortie }}</p>
            <p class="card-text"><b>Campus : </b>{{ sortie.campus.nom }}</p>
            <p class="card-text"><b>Lieu : </b>{{ sortie.lieu.nom }}</p>
            <p class="card-text"><b>Rue : </b>{{ sortie.lieu.rue}}</p>
            <p class="card-text"><b>Code Postal : </b>{{ sortie.lieu.ville.codePostal}}</p>
            <p class="card-text"><b>Latitude : </b>{{ sortie.lieu.latitude}}</p>
            <p class="card-text"><b>Longitude : </b>{{ sortie.lieu.longitude}}</p>
            <a href="{{ path('main_home') }}" class="btn btn-warning" title="">
                Retour</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">

        <div class="card-body">
            {% if sortie.participant | length > 0 %}

                {% for participant in sortie.participants %}
                <p class="card-text">{{ participant.nom }}</p>
                {% endfor %}

            {% else %}
                <p>Il n'y a pas d'inscrit</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
